{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p style="font-size: 25px">Вы действительно хотите удалить блог "{{ object|title }}"?</p>
                    <button type="submit" class="btn btn-danger">
                        Подтвердить
                    </button>
                    <a href="{% url "blogs:blogs" %}" class="btn btn-outline-primary">
                        Отмена
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
