{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                        <a href="{% url 'blogs:view' object.pk %}" type="submit" class="btn btn-success">Сохранить</a>
                    {% else %}
                        <button type="submit" class="btn btn-success">Создать блог</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
