{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        Добавление нового курса
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success">Добавить курс</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}