{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row mb-3">
        <div class="col-3">
            <a href="{% url 'catalog:create_course' %}" class="btn btn-lg btn-block btn-outline-primary" type="button">Добавить курс</a>
        </div>
    </div>

    {% for object in object_list %}
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ object.price }} ₽</h2>
                    <a href="{% url 'catalog:courses_descrip' object.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Поподробнее
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
