{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row mb-3">
            <div class="col-3">
                <a href="{% url 'catalog:create_course' %}" class="btn btn-lg btn-block btn-outline-primary"
                   type="button">Добавить
                    курс</a>
            </div>
        </div>
    </div>

    {% for object in object_list %}
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ object.price }} ₽</h2>
                    <div class="btn-group">
                        <a href="{% url 'catalog:courses_descrip' object.pk %}" type="button"
                           class="btn btn-lg  btn-outline-primary">Описание
                        </a>
                        <a href="{% url 'catalog:update_course' object.pk %}" type="button"
                           class="btn btn-lg  btn-outline-secondary">Изменить
                        </a>
                        <a href="{% url 'catalog:delete_course' object.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-danger">Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
