{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ object.price }} ₽</h2>
                        <a href="{% url 'catalog:courses_descrip' object.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-primary">Поподробнее
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
